/* Common variables */
$bg-color: #f8f8f8;
$font: 'Rubik', sans-serif;
$default-font-size: 16px;
$white-color: #ffffff;
$gray-color: #777777;
$red-color: #f00000;
$orange-color: #eb613b !important;
$header-bg-color: #31abf2;
$body-bg-color: #e5e5e5;
$body-border-color: #f4f8fa;
$webkit-scrollbar-bg-color: #f5f5f5;
$webkit-scrollbar-thumb-color: #54a8e4;
$user-msg-card-color: #53a8e4;
$bot-msg-card-color: #455a64;
$mat-radio-btn-color: #0372c6;
