/* You can add global styles to this file, and also import other style files */
@import 'app/common/mixins';
@import 'app/common/variables';

html, body {
    height: 100%;
}
body {
    margin: 0;
    background: $bg-color;
}
* {
    font-family: $font;
}

.flex {
    display: flex;
}
.items-center {
    align-items: center;
}

.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.pointer {
    cursor: pointer;
}
.white {
    color: $white-color;
}
.w-50 {
    width: 50%;
}
